.stars {
	height: 3rem !important;
	min-width: 150px !important;
}

#rect {
	fill: var(--primary-color);
	transition: fill 0.4s ease;
}
.dark-theme #rect {
	fill: var(--dark-theme-background);
	transition: fill 0.4s ease;
}
