.product-preview {
	position: absolute;
	height: 100%;
	width: 100%;
	border-radius: 15px;
	background-color: #d9d9d9;
	opacity: 0.75;
}

.price-preview {
	position: absolute;
	top: 67.8%;
	left: 40.17%;
	font-weight: 600;
	color: #75c70c;
}
.price-preview.dark-theme {
	color: #83dd0d;
}
.laptop-name {
	position: absolute;
	height: 15.25%;
	width: 50%;
	top: 42.37%;
	left: 40.17%;
	font-weight: 600;
	display: inline-block;
}
.laptop-type {
	position: absolute;
	height: 16.1%;
	width: 15.95%;
	top: 17.8%;
	left: 40.17%;
	display: inline-block;
}
.image-preview {
	position: absolute;
	height: 60%;
	min-width: 100px;
	max-width: 110px;
	top: 23%;
	right: 67%;
	bottom: 17%;
	left: 5%;
	max-width: 100%;
	overflow: hidden;
	max-height: 100%;
	object-fit: cover;
}
.preview-card {
	width: 100%;
	position: relative;
	height: 118px;
	text-align: left;
	font-size: 15px;
	color: var(--tertiary-color);
	font-family: Inter;
	border-radius: 15px;
	transition: all 0.3s ease;
}
.preview-card:hover {
	cursor: pointer;
	opacity: 0.55;
}
.home-cards {
	display: flex;
	width: 80%;
	margin: auto;
	gap: 30px;
	margin-bottom: 80px;
}

.home-cards-container {
	width: 100%;
	transition: var(--dark-theme-transition-bg);
}
.home-cards-container.dark-theme {
	background-color: var(--dark-theme-background);
}
