.slider {
	width: 100%;
	height: 25px;
	background: #ddd;
	border-radius: 5px;
	position: relative;
	margin: 20px 0;
	padding: 15px;
}
.slider.dark-theme {
	background: #555555;
}

.slider .track {
	position: absolute;
	height: 10px;
	background: #ff5252;
	border-radius: 5px;
	top: 50%;
	transform: translateY(-50%);
	margin: 0 10px;
}

.slider .thumb {
	position: absolute;
	width: 20px;
	height: 20px;
	background: var(--primary-color);
	border-radius: 50%;
	top: 50%;
	transform: translateY(-50%);
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
	cursor: pointer;
	z-index: 2;
}

.slider .thumb:focus {
	outline: none;
}

.price-range {
	font-family: "Quattrocento", sans-serif;
}

.track-0,
.track-2 {
	background: #c5c5c5 !important;
}
