.heart {
	display: inline-block;

	font-size: 25px;
	cursor: pointer;
	border: 1px solid black;
	&::before {
		font-size: 1.5em;
		color: #e6e6e6;
		content: "♥";
		position: absolute;
		left: 50%;
		top: 50%;
		transform: translate(-50%, -50%);
	}
	&::after {
		font-size: 1.5em;
		color: red;
		content: "♥";
		position: absolute;
		left: 50%;
		top: 50%;
		transform: translate(-50%, -50%) scale(0);
		transition: transform 0.2s;
	}
	&.liked::after {
		transform: translate(-50%, -50%) scale(1.1);
	}
	&.heart::before,
	.heart::after {
		transition: color 0.3s ease-in-out;
	}
	&.heart:hover::before,
	.heart:hover::after {
		color: rgb(255, 132, 132);
	}
}

.heart-container {
	position: absolute;
	display: flex;
	align-items: center;
	justify-content: center;
	top: 10px;
	right: 0;
	width: 40px;
	height: 40px;
	background-color: white;
}

.heart-container.dark-theme {
	background-color: hsl(0, 0%, 40%);
}
