.favoritesPage {
	position: fixed;
	top: 0;
	right: 0;
	z-index: 999;
	width: 25%;
	height: 100%;
	background-color: var(--primary-color);
	transform: translateX(100%);
	transition: transform 0.4s ease-in-out;
}
.favoritesPage.dark-theme {
	background-color: #3a3a3a;
}
.favoritesPage.visible {
	transform: translateX(0%);
}

.my-cart {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 15px;
}
.my-cart h2 {
	margin: 0px;
}
.my-cart i {
	font-size: 22px;
}
.my-cart i:hover {
	cursor: pointer;
}
.overlay {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.5);
	z-index: 998;
	opacity: 0;
	visibility: hidden;
	transition: opacity 0.4s ease;
}

.overlay.visible {
	opacity: 1;
	visibility: visible;
}

.favorites {
	display: flex;
	flex-direction: column;
	grid-gap: 10px;
	justify-content: center;
	width: 80%;
	margin: auto;
}
.favorites > div {
	display: flex;
	justify-content: center;
	gap: 20px;
}

.favorite-product {
	display: flex;
	border-bottom: 1px solid #3a3a3a;
}
.favorite-product img {
	min-width: 120px;
	max-width: 120px;
	border-radius: 8px;
	transition: transform 0.5s ease;
}

.favorite-product-info {
	display: flex;
	flex-direction: column;
	justify-content: center;
}
.favorite-product p {
	font-family: "Oswald", sans-serif;
	margin-bottom: 8px;
}

@media (max-width: 600px) {
	.favoritesPage {
		width: 75%;
	}
}

@media (max-width: 300px) {
	.favoritesPage {
		width: 100%;
	}
}
