.favoritesPage {
	width: 90%;
	margin: 130px auto;
}

.favoritesPage h2 {
	margin-bottom: 30px;
}

.favorites {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: repeat(3, 1fr);
	grid-gap: 10px;
	justify-content: center;

	/* display: flex;
	flex-wrap: wrap;
	gap: 60px; */
	height: 100%;
}
.favorites > div > div:nth-child(2) {
	display: flex;
	justify-content: center;
	gap: 20px;
}

.favorite-product img {
	min-width: 300px;
	max-width: 300px;
	border-radius: 8px;
	transition: transform 0.5s ease;
}

.favorite-product img:hover {
	transform: scale(1.05);
}

.favorite-product p {
	font-family: "Oswald", sans-serif;
	margin-bottom: 8px;
}
