@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap");

footer {
	display: flex;
	flex-direction: column;
	gap: 1.875rem;
	margin-top: auto;
	width: 100%;
	height: fit-content;
	background-color: hsl(0, 0%, 89%);
	border-top: 1px solid hsl(0, 0%, 25%);
	transition: var(--dark-theme-transition-bg);
	font-family: system-ui;
	padding: 3rem 0 4rem;
}
footer.dark-theme {
	background-color: hsl(0, 0%, 25%);
	border-top: 1px solid hsl(0, 0%, 89%);
}

.footer-main-content {
	display: flex;
	justify-content: space-evenly;
	height: 100%;
	padding-bottom: 2rem;
}

.support,
.legal {
	display: flex;
	flex-direction: column;
	gap: 15px;
}
.support p:hover,
.legal p:hover {
	cursor: pointer;
}

.legal {
	display: flex;
}
.socials {
	display: flex;
	gap: 50px;
	font-size: 25px;
	margin-top: 4rem;
}
.socials:hover {
	cursor: pointer;
}

.rights {
	display: flex;
	justify-content: flex-start;
	gap: 30px;
	width: 85%;
	margin: auto;
	border-top: 1px solid black;
	padding-top: 20px;
}
