.product-popup {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.5);
	display: flex;
	justify-content: center;
	align-items: center;
	backdrop-filter: blur(1px);
}

.product-popup-content {
	background-color: var(--primary-color);
	padding: 20px;
	border-radius: 8px;
	position: relative;
	width: 80%;
	max-width: 600px;
	height: fit-content;
	color: black;
	transition: var(--dark-theme-transition-bg);
}
.product-popup-content.dark-theme {
	background-color: var(--dark-theme-background);
}
.product-popup-content img {
	width: 50%;
	border-radius: 6px;
}
.product-popup-content .ri-close-line {
	position: absolute;
	top: 10px;
	right: 10px;
	color: var(--tertiary-color);
	border: none;
	border-radius: 50%;
	width: 30px;
	height: 30px;
	cursor: pointer;
	font-size: 28px;
}
.product-popup-content.dark-theme .ri-close-line,
.product-popup-content.dark-theme .cart-container-popup .ri-shopping-bag-4-fill {
	color: var(--primary-color);
}

.product-popup-content .description {
	font-size: 14px;
}
.cart-container-popup {
	position: absolute;
	right: 0;
	top: 70px;
	background-color: rgb(61, 61, 61);
	padding: 5px 10px;
}
.cart-container-popup .ri-shopping-bag-4-fill {
	font-size: 30px;
	/* color: var(--primary-color); */
	cursor: pointer;
}
.cart-container-popup .ri-shopping-bag-4-fill:hover {
	color: var(--secondary-color);
}
