#root {
	width: 100%;
	height: 100%;
	text-align: center;
}

body.no-scroll {
	overflow: hidden;
	padding-right: 0.5rem;
}
body.no-scroll header {
	padding-right: 0.5rem;
}
body.no-scroll .ri-sun-line {
	padding-right: 0.5rem;
}

.App {
	min-height: 100vh;
	display: flex;
	flex-direction: column;
}
